body {
    background-color: #eeeeee;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.image {
    width: 370px;
    margin-top: 20px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10px;
    }

    .image {
        width: 80%;
    }
}